body {
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-size: 16px;
  }
  
  /* Toggle Styles */
  
  #viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .volver-inicio{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 9999;
  }
  #content {
    width: 100%;
    position: relative;
    margin-right: 0;
  }
  
  /* Sidebar Styles */
  
  #sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
  }
  
  #sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
  }
  
  #sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
  
  #sidebar header a:hover {
    color: #fff;
  }
  
  #sidebar .nav a{
    background: none;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 14px;
    padding: 16px 24px;
  }
  
  #sidebar .nav a:hover{
    background: none;
    color: #ECEFF1;
  }
  
  #sidebar .nav a i{
    margin-right: 16px;
  }

  .svg{
    margin: 0 auto;
    transform: scale(.4);
  }

  .nav{
    display: block;
  }