/*img{

  border: 1px solid rgb(88, 85, 85);
  border-radius: 4px;
  width:  80%;
  height: 90%;
}*/
#pre{
  position: absolute;
  top: 0;
  z-index: 999999999;
  margin-left: 0;
  margin-right: 0;
  background: #0F2027; 
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
}
#BotStart{
  display: block;
  margin-left: auto;
  margin-right: auto;
}