/*img{

  border: 1px solid rgb(88, 85, 85);
  border-radius: 4px;
  width:  80%;
  height: 90%;
}*/
body{
  margin-left: 0;
  margin-right: 0;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}